ENV{ID_V4L_CAPABILITIES}==":capture:",SUBSYSTEM=="video4linux",KERNELS=="1-1.4",SUBSYSTEMS=="usb",SYMLINK+="videol"
ENV{ID_V4L_CAPABILITIES}==":capture:",SUBSYSTEM=="video4linux",KERNELS=="1-1.1",SUBSYSTEMS=="usb",SYMLINK+="videor"
